* {
    box-sizing: border-box;
}

#menu {
    width: 100%;
    height: 7%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px;
}

#menu > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}